<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block titulo %}Proyecto Symfony{% endblock %}</title>
</head>
<body>
{% block contenido %} Contenido {% endblock %}
</body>
</html>
