.texto{
    color: #c71dc7;
}
body {
    background-color: #ffffff;
    padding-top: 70px;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}


