.texto{
    color: #c71dc7;
}

p{
    background: transparent;
}

tbody {
    color: #f0f0f0;
    font-family: 'Sen', sans-serif
}


body {
    color: #f0f0f0;
    font-family: 'Sen', sans-serif;
    text-emphasis-color: #f0f0f0;
    text-decoration-color: #f0f0f0;
    background-color: #7d5fa5;
}

#banner{ /* la imagen de la secretaria se amolda a todas las pantallas */

    width: 96%;
    max-width: 960px;
    margin: 0 auto;

    width: 100%;
    height: auto;

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color:#0c4128;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #f0f0f0; }

.fixed-top {
    background-repeat: repeat-x;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 1367px 3px;
    background-color: #e3e1e2; }

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0; }

footer { /* el footer prolijo*/
    background-image: url("https://www.santafe.gov.ar/assets/standard/images/marca-footer.png") ;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;

    width: 100%;
    height: 142px;
    top: auto;
    padding-top: 20px;
    font-size: 13px;
    line-height: 16px;
    line-height: 16px;
    border-top: 1px solid silver;
}

.footer p {
    margin-bottom: 0px; }

.contact-data-footer {
    text-align: right;
    padding-right: 40px; }

.footer .row {
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto; }

.footer-ul li > a {
    color: #f4f4f4;
    opacity: .5 !important;
    font-size: 25px !important; }

select { /* el select sin bordes*/
    background: transparent;
    border: none;
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: auto;
    height: auto;

    }

a { /* este es el color del link*/
    color: whitesmoke;
}

#footerIndex {
    color: white;
    background-color: #1A1A1A;
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#impresion{
    color:black;
    background: white;

}

table thead {
    color: #fff;
}

.borderless table {

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}



/* TOPNAV es el navbar de los dif menu*/
.topnav {
    background-color:none;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


