{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Creación de Factura </h1>    

    {% with {'form': form}%}
        {{ block("formBlock", "./blocks/formBlock.twig") }}
    {% endwith %}

    <input type="submit" class="btn btn-sm btn-primary" value="Crear" />
    <a href="{{ path('factura_index') }}" class="btn btn-sm btn-secondary" >Volver al listado</a>
    <a href="{{ path('prueba_homepage') }}" class="btn btn-sm btn-secondary"> Volver al menú principal </a>


    
<script>
    let checkVal = []
    let formSelect = document.getElementById('pruebabundle_factura_service');
    let customCheck = document.querySelectorAll('input[name="checkboxSelec"]');

    let formArr = Array.prototype.slice.call(formSelect.childNodes);
    let customArr = Array.prototype.slice.call(customCheck);

    {#  customCheck.forEach((elem, i) => {
        elem.addEventListener("change", (e)=> {
            //console.log(e.originalTarget.value)
            
            if(e.target.checked) checkVal.push(e.target.value)
            else {
               let i = checkVal.indexOf(e.target.value);
               checkVal.splice(i, 1);
            }

            formSelect.value = checkVal;
            console.log("formSelect ",checkVal, " : ", formSelect.value)
        })
    }) #}
        formSelect.addEventListener("change", (e) => {
              console.log(formSelect)
        })
      
    
    {# console.log("customArr ", customArr)
    console.log("formArr ", formArr) #}
   {#   let check = document.createElement("input");
      check.class = "form-check-input";
      check.type = "checkbox";
      check.name = "checkboxSelec";
    formArr[0].appendChild(check); #}
</script>

          
{% endblock %}
