<p class="text-end" ><b>Ref.: Expte. Nro 0250100019422</b></p>



<div align="right"> <th>Santa Fe,  </th></div>




<br><br><br>

    Se Informa que corresponde a la factura nro 4789564587 por el Servicio de INTERNET del período de
    <b>  septiembre 2019     </b>
    prestado por la empresa TELECOM en este
    Ministerio de Igualdad, Género y Diversidad de calle CORRIENTES 2879  de la ciudad de SANTA FE
    con el nro de referencia:  <b> 2897842 </b>
<td> </td>.








<br><br><p>

    Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.