<!DOCTYPE html>
    <html>
    <head>
        <title>Todos los servicios</title>
    </head>
    <body>
    <h1>{{ "Servicios totales" }}</h1>

    <ul id="servicios">
        {% for servicio in servicios %}
            <li>{{ servicio.compania }}</li>
        {% endfor %}

        <br>
        <a href="{{ path('prueba_homepage') }}">Volver al menú principal</a>
    </ul>
    </body>
    </html>