
<html>

<head>
    <title>Sistema de servicios de SEIyG </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<div align="center"><img src=https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/83431810_1091688307847555_5182473445350309888_o.jpg?_nc_cat=104&ccb=2&_nc_sid=e3f864&_nc_ohc=MpLnEvasV4QAX-8AWdU&_nc_ht=scontent-eze1-1.xx&oh=cbdc468714341846f75c6453d22a57b6&oe=6021BF68 width="1500" height="300"></div>
<div align="center"><h1> Sistemas de servicios</h1></div>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div align="center"><div class="container"></div>
        <ul class="nav navbar-nav">
            <div align="center"><li class="active"><a href=""><h2>Inicio</h2></a></li></div>
                <div align="center"><li><a href="{{ ('all_servicios') }}"><h2>Menu Servicio</h2></a></li></div>
                    <div align="center"><li><a href="{{ ('factura') }}"><h2>Menu Factura</h2></a></li></div>
                        <div align="center"><li><a href="{{ ('expediente') }}"><h2>Menu Expediente</h2></a></li></div>
        </ul>
    </div>
</nav>
</div>
</body>
</html>

