
<html>

<head> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Sistema de servicios de SEIyG </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../../../web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../../web/css/estilo.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<div align="center"><img src=https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/83431810_1091688307847555_5182473445350309888_o.jpg?_nc_cat=104&ccb=2&_nc_sid=e3f864&_nc_ohc=MpLnEvasV4QAX-8AWdU&_nc_ht=scontent-eze1-1.xx&oh=cbdc468714341846f75c6453d22a57b6&oe=6021BF68 width="1500" height="300"></div>
<div align="center"><h1> Sistemas de servicios de internet y cable</h1></div>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div align="center"><div class="container"></div>
        <ul class="nav navbar-nav">

        </ul>
    </div>

    <br>
        <br>
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light"><a href=""><h2>Inicio</h2></a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="{{ ('all_servicios') }}"><h2>Menu Servicio</h2></a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="{{ ('factura') }}"><h2>Menu Factura</h2></a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="{{ ('expediente') }}"><h2>Menu Expediente</h2></a></div>
            </div>
        </div>
    </div>
</nav>
</div>
</body>
</html>

