{% extends 'dosColumnas.html.twig' %}
{% block titulo %} Esta es la pagina de nombres {% endblock %}
{% block contenido %}
    <ul>
    {% for nombres in nombres if nombres.activo %}  {# solo muestra los que tienen como estado activo #}
        <li>{{ nombres.activo }}</li>
    {% endfor %}
    </ul>
{% endblock %}